// Unified
.cns-elements__btn-outline {
}
.cns-header__nav__item {
  position: relative;
}
.cns-elements {
  &__edit-btn {
    svg {
      display: none;
      position: absolute;
      right: 0;
    }
    &:hover {
      padding-right: 2em;
      svg {
        display: block;
        width: 1.8em;
      }
    }
  }
}
//AI
.wp-block-cns-theme-cns-header-nav {
  align-self: stretch;
  min-height: 3rem;

  .cns-header__nav {
    align-items: center;
  }

  .cns-header-nav__add-btn {
    flex-shrink: 0;
  }
}
