// Unified
.cns-elements__btn-outline {
}

//AI
.wp-block-cns-theme-cns-header-nav {
  align-self: stretch;
  min-height: 3rem;

  .cns-header__nav {
    align-items: center;
  }

  .cns-header-nav__add-btn {
    flex-shrink: 0;
  }
}
