@charset "UTF-8";

// Global editor elements
.wp-block-cns-theme-cns-sidebar {
}

// --cns-sb-bg: var(--wp--preset--color--element-bg);
// --cns-sb-text: #4d822f;
// --cns-sb-max-width: 280px;

.cns-sidebar {
  ul {
    list-style-type: none;
  }

  // Placement
  &--left {
    border-right: currentColor 1px solid;
  }
  &--right {
    border-left: currentColor 1px solid;
  }

  // Modal
  &__modal {
  }
  &__sub-links {
    display: flex !important;
  }
  // Groups
  &__item {
  }
  &__item--group {
    .cns-elements__btn {
      width: 100%;
    }
  }
}
