@charset "UTF-8";

.wp-block-cns-theme-cns-hero {
  width: 100%;
}
.hero {
  &__container {
    margin-top: var(--wp--custom--header--mobile-pad-x, 2.4rem);
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
  }
  &__overlay {
  }
  &__credits {
    position: absolute;
  }
}
