@charset "UTF-8";

.wp-block-cns-theme-cns-hero {
  width: 100%;
}
.hero {
  &__container {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100vh - var(--wp--custom--header--height, 5rem));
  }
  &__overlay {
    display: flex;
    flex-direction: column;
  }
  &__credits {
    position: absolute;
  }
}

.cns-hero {
  &__credit-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: unset;
    button {
      text-decoration: unset;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}
