@charset "UTF-8";

.wp-block-cns-theme-cns-hero {
  width: 100%;
}
.hero {
  &__container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
  }
  &__overlay {
    display: flex;
    flex-direction: column;
  }
  &__credits {
    position: absolute;
  }
}
